@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@200;300;500;600&family=Roboto:wght@300;400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #2159BA;
  background-size: cover;


}

img {
  cursor: pointer;
}

.navbar {

  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
  background: url(imagees/bg.jpg);
  background-position: center;
  background-size: cover;
  border-bottom: 3px solid black;


}

.navbar-logo,
.navbar-links {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  cursor: pointer;

}

.navbar-logo {
  text-align: center;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  transition: all ease 0.6s;
}

.navbar-links a:hover {
  color: #555;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}

.button {
  padding: 7px;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  background: rgba(240, 240, 240, 0.5);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info2 {
  margin-right: 60px;
}

.info2 .info2span {
  color: black;
}

.info .btn #button {
  margin-top: 15px;
  padding: 7px;
  border: none;
  transition: all 0.3s ease;

}

.info .btn #button:hover {
  background: rgba(240, 240, 240, 0.5);
}

.containerright img {
  margin-top: 20px;
  width: 500px;
  cursor: pointer;
  transition: 0.7s ease all;
}

.containerright img:hover {
  background: rgba(240, 240, 240, 0.5);
  padding: 15px;
  border-radius: 7px;
  border: #2159BA 1px solid;
}

.myskills {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 75px;
  margin-bottom: 25px;
}

.myskills span {
  text-align: center;
  color: black;
  font-size: 60px;
  margin-top: 45px;
  margin-bottom: 25px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px;
}

.skills .box {
  width: 350px;
  height: 150px;
  margin: 25px;
  background: white;
  box-shadow: 5px 1px 26px -3px rgba(0, 0, 0, 0.90);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;

}

.skills .box img {
  width: 100px;
  transition: all 0.7s ease;

}


.skills .box img:hover {
  width: 50%;
}

.abaoutsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abaoutsection .text {
  background: rgba(255, 255, 255, 0.5);
  padding: 35px 8%;
  text-align: justify;
  width: 80%;
  border: 1px solid #555;
}

.abaoutsection .morebutton button {
  margin-top: 25px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 75px;
  margin-bottom: 25px;
}

span {
  text-align: center;
  color: black;
  font-size: 60px;
  margin-top: 45px;
  margin-bottom: 25px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
}

footer {
  margin-top: 50px;
  border-top: 3px solid black;
}

.footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 8%;
  background: url(imagees/bg.jpg);
  background-position: center;
  background-size: cover;

}

.footer .logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.footer .logo {
  text-align: center;
}

.footer .socialicons i {
  color: white;
  font-size: 29px;
  margin-right: 9px;
  transition: all ease 0.5s;
}

@media (max-width: 768px) {
  body {
    background-size: cover;
  }

  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar-logo {
    margin-bottom: 15px;
  }

  .navbar-links {
    margin-bottom: 0;
    text-align: center;
  }

  .navbarothers {
    display: none;
  }

  .container {
    flex-direction: column;
  }

  .info2 h1 {
    margin-bottom: 0;
    font-size: 43px;
  }

  .containerright {
    margin-bottom: 15px;
  }

  .containerright img {
    width: 400px;
  }

  .skills {
    flex-direction: column;
  }

  .box {
    width: 100%;
  }

  .footer {
    flex-direction: column;
  }

  .footer .logo {
    margin-bottom: 15px;
  }

  .footer .socialicons {
    margin-bottom: 15px;
  }
}